body {
  background: url(https://media.istockphoto.com/id/1218394968/photo/pastel-sky-and-cloud.jpg?s=612x612&w=0&k=20&c=tht9eIx4nCUJjO6087NH1ud2T8R2MOjg3BIRrrNo8g0=);
  background-repeat: no-repeat;
  background-size: cover;
}